* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    overflow-x: hidden;
}

.icons {
    color: whitesmoke;
    font-size: 24px;
    display: flex;
    gap: 12px;
}


.body {
    background-image: linear-gradient(to bottom, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0%)2%);
    background-size: cover;
}

.navbar {
    background-color: #141414 !important;
}

.searchbar-box {
    padding: 5px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.searchbar-box i {
    font-size: 20px;
    align-self: center;
    padding: 7px;
    transition: .2s;
    cursor: pointer;
}

.searchbar-box i:hover {
    color: gray;
}

.searchbar{
    border: none;
    background-color: #141414;
    outline: none;
    padding: 5px 8px;
    color: whitesmoke;
}

.side {
    background-color: #141414;
    list-style-type: none;
    padding-right: 50px !important;
    font-weight: 500;
    margin-right: 10px;
}

a {
    color: gray;
    text-decoration: none;
    transition: .2s;
    padding: 7px;
}

a:hover {
    color: whitesmoke;
}

.current-cat {
    background-image: linear-gradient(to right, #2980b9, #141414);
    border-left: 3px solid whitesmoke;
}

.current-cat a {
    color: whitesmoke;
}

.cat-item {
    padding: 5px 10px;
}

.film {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 345px;
    border: 3px solid #141414;
    position: relative;
}

.film img {
    filter: brightness(0.9);
}

.film-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: .5s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #141414;
}

.film:hover .film-text {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    color: #141414;
}

.title,
.year {
    font-weight: bold;
    text-align: center;
}

.film-pic {
    width: 245px;
    height: 340px;
}




/* SCROOLBAR */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: #141414;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}